@model EPayments.Web.Models.EserviceAdmin.EditSettingsVM
@{
    ViewBag.Title = "Настройки за известия на потребител";
}
@using EPayments.Web.Common;

<div class="container main-content">
    <div class="col-lg-8 col-md-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-xs-offset-0 text-align-center">
        <h1>Настройки за известия на потребител</h1>
    </div>

    @using (Html.BeginForm(MVC.EserviceAdmin.ActionNames.EditSettings, MVC.EserviceAdmin.Name, null, FormMethod.Post, new { @class = "inquiry" }))
    {
        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1 col-xs-offset-0 inquiry-form">
            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary()
            }
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Електронна поща</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-6">
                    <label>Изпращане на известия при:</label>
                    <div class="">
                        @Html.CheckBoxFor(m => m.InsufficientAmountNotifications)
                        <label for="InsufficientAmountNotifications">постъпване на недостатъчна сума по ел. задължение</label>
                        @Html.CheckBoxFor(m => m.OverpaidAmountNotifications)
                        <label for="OverpaidAmountNotifications">постъпване на надплатена сума по ел. задължение</label>
                        @Html.CheckBoxFor(m => m.ReferencedNotifications)
                        <label for="ReferencedNotifications">постъпване на плащане по ел. заявено задължение</label>
                        @Html.CheckBoxFor(m => m.NotReferencedNotifications)
                        <label for="NotReferencedNotifications">постъпване на плащания по други задължения</label>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-md-12 snd">
                    <input type="submit" value="Запази" />
                    @Html.ActionLink("Отказ", MVC.EserviceAdmin.ActionNames.Settings, MVC.EserviceAdmin.Name, null, new { @class = "btn big-btn grey-btn" })
                </div>
            </div>
        </div>
    }
</div>
