@using EPayments.Admin.Models.EserviceClient
@using EPayments.Admin.Controllers

@model EPayments.Admin.Models.Department.DepartmentVM

@{ 
    ViewData.Add(DepartmentController.AisKey, Model.SelectListItemsOfEserviceClients);
}

@if (Model != null)
{
<div class="container main-content">

    <h1 style="text-align: center;">Преглед на административна структура</h1>

    @if (TempData[EPayments.Admin.Common.TempDataKeys.Message] != null)
    {
        <div class="validation-summary-errors validation-success" style="margin-top: 20px; margin-bottom: 25px;">
            <ul>
                <li style="padding-left: 40px;">@TempData[EPayments.Admin.Common.TempDataKeys.Message]</li>
            </ul>
        </div>
    }
    else if (TempData[EPayments.Admin.Common.TempDataKeys.ErrorMessage] != null)
    {
        <div class="validation-summary-errors validation-error" style="margin-top: 20px; margin-bottom: 25px;">
            <ul>
                <li style="padding-left: 40px;">@TempData[EPayments.Admin.Common.TempDataKeys.ErrorMessage]</li>
            </ul>
        </div>
    }

    <div class="table-filters" style="">
        <span class="filter-toggle opened">Основни данни</span>
        <form class="clearfix" style="background-color: white; padding-left: 0px; padding-right: 0px; display: block;">

            <div class="row">

                @Html.Partial(MVC.Department.Views.Form, Model)

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <a style="width: 100%; padding: 5px 0 5px 0; text-align: center;" class="btn blue-btn"
                           href="@Url.Action(MVC.Department.ActionNames.Edit, MVC.Department.Name, new { id = Model.DepartmentId })">Редактирай</a>
                    </div>
                </div>

            </div>

        </form>
    </div>

    <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
            <div class="form-group">
                <label>&nbsp;</label>

                @using (Html.BeginForm(MVC.Department.ActionNames.Delete, MVC.Department.Name, new { id = Model.DepartmentId }, FormMethod.Post, new { @class = "clearfix", style = "display: block;", id = "frmDelete" }))
                {
                    <a data-toggle="confirmation-post" data-formid="frmDelete"
                       title="Сигурни ли сте, че искате да изтриете административната структура?" data-btnoklabel="Да" data-btnokclass="btn btn-sm red" data-btncancellabel="Отказ"
                       style="width: 100%; padding: 5px 0 5px 0; text-align: center;" class="btn red-btn">Изтрий</a>
                }

            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
            <div class="form-group">
                <label>&nbsp;</label>
                <a style="width: 100%; padding: 5px 0 5px 0; text-align: center;" class="btn grey-btn"
                   href="@Url.Action(MVC.Department.ActionNames.List, MVC.Department.Name)">Назад</a>
            </div>
        </div>
    </div>

    <h1 style="text-align: center;">Йерархия на АИС клиентите на административната структура</h1>
    <table class="results-table">
        <tr class="results-thead">
            <th class="results-cell first-cell"></th>
            <th class="results-cell">Име на АИС</th>
            <th class="results-cell">Разпоредител</th>
            <th class="results-cell">Действия</th>
        </tr>
        @if (Model.EserviceRecords != null && Model.EserviceRecords.Count > 0)
        {
            foreach (EserviceVM child in Model.EserviceRecords)
            {
                @Html.Partial(MVC.Department.Views.EserviceClient, child, ViewData);
            }
        }
        else
        {
            <tr>Администрацията няма АИС клиенти</tr>
        }
    </table>
</div>
}
else
{
    <div class="container main-content">
        <h1 style="text-align: center;">Преглед на административна структура</h1>
        <div class="validation-summary-errors validation-error" style="margin-top: 20px; margin-bottom: 25px;">
            <ul>
                <li style="padding-left: 40px;">Административната структура не е намерена</li>
            </ul>
        </div>
    </div>
}
