@model EPayments.Admin.Models.EserviceClient.EformsUserPasswordVM

<div class="container main-content">

    <h1 style="text-align: center;">Смяна на паролата на системен потребител за Е-Форми</h1>

    @using (Html.BeginForm(MVC.EserviceClient.ActionNames.EditEformsUserPassword, MVC.EserviceClient.Name, new { id = Model.EserviceClientId, eserviceAdminUserId = Model.EserviceAdminUserId }, FormMethod.Post, new { @class = "clearfix", style = "display: block;" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary()
            <br />
        }

<div class="row">


    @Html.HiddenFor(m => m.EserviceAdminUserId)
    @Html.HiddenFor(m => m.EserviceClientId)
    @Html.HiddenFor(m => m.Username)
    @Html.HiddenFor(m => m.Name)

    @Html.HiddenFor(m => m.AisName)
    @Html.HiddenFor(m => m.DepartmentName)

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Име на АИС</label>
            @Html.TextBoxFor(m => m.AisName, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Администрация</label>
            @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Потребителско име</label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Име</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", disabled = "disabled" })
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Парола за достъп</label>
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
        <div class="form-group">
            <label>&nbsp;</label>
            <input class="btn blue-btn" type="submit" value="Запиши" style="width: 100%; padding: 5px 0 5px 0;">
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right">
        <div class="form-group">
            <label>&nbsp;</label>
            <a style="width: 100%; padding: 5px 0 5px 0; text-align: center;" class="btn grey-btn"
               href="@Url.Action(MVC.EserviceClient.ActionNames.ViewEformsUser, MVC.EserviceClient.Name, new { id = Model.EserviceClientId, eserviceAdminUserId = Model.EserviceAdminUserId })">Отказ</a>
        </div>
    </div>
</div>
    }

</div>