@model EPayments.Admin.Models.EserviceClient.VposBoricaVM
@using EPayments.Model.Enums
@using EPayments.Common.Helpers
@using EPayments.Admin.Models.EserviceClient

@{
    Html.EnableClientValidation(false);

    IDictionary<string, object> formControlHtmlAttributes = new Dictionary<string, object>();
    formControlHtmlAttributes.Add("class", "form-control");

    if (Model.Mode == FormMode.View)
    {
        formControlHtmlAttributes.Add("disabled", "disabled");
    }
}

@Html.HiddenFor(m => m.Mode)
@Html.HiddenFor(m => m.EserviceClientId)

@Html.HiddenFor(m => m.AisName)
@Html.HiddenFor(m => m.DepartmentName)

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group">
        <label>Име на АИС</label>
        @Html.TextBoxFor(m => m.AisName, new { @class = "form-control", disabled = "disabled"})
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="form-group">
        <label>Администрация</label>
        @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", disabled = "disabled"})
    </div>
</div>

@if (Model.Mode == FormMode.View)
{
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>P12 сертификат за подписване</label>
            @Html.TextBoxFor(m => m.BoricaVposRequestSignCertFileName, formControlHtmlAttributes)
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Ключ на P12 сертификата</label>
            @Html.TextBoxFor(m => m.BoricaVposRequestSignCertPassword, formControlHtmlAttributes)
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Валидност на сертификата</label>
            @Html.TextBoxFor(m => m.BoricaVposRequestSignCertValidTo, formControlHtmlAttributes)
        </div>
    </div>
}
else
{
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>P12 сертификат файл за подписване</label>
            <input type="file" name="BoricaVposRequestSignCertFile" id="BoricaVposRequestSignCertFile" />
        </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Ключ за P12 сертификата</label>
            @Html.TextBoxFor(m => m.BoricaVposRequestSignCertPassword, formControlHtmlAttributes)
        </div>
    </div>
}


<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <div class="form-group">
        <label>ID на терминал</label>
        @Html.TextBoxFor(m => m.BoricaVposTerminalId, formControlHtmlAttributes)
    </div>
</div>

<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <div class="form-group">
        <label>ID на търговец</label>
        @Html.TextBoxFor(m => m.BoricaVposMerchantId, formControlHtmlAttributes)
    </div>
</div>



