@using EPayments.Admin.Models.Transactions

@model TransactionWithPaymentsVM

@{
    string ttOrderName = "Номер на транзакцията";
    string ttAmountName = "Сума";
    string ttFeeName = "Такса";
    string ttCommissionName = "Комисионна";
    string ttTransactionDateName = "Дата на транзакцията";
    string ttCardName = "Номер на карта";
    string ttSettlementDateName = "Дата на стълмент";
    string ttStatusMessage = "Съобщение от Борика";

    string prPaymentRequestIdentifierName = "Номер на задължението";
    string prPaymentReferenceNumberName = "Референтен номер на задължението";
    string prCreateDateName = "Дата на създаване";
    string prApplicantName = "Задължено лице";
    string prPaymentReasonName = "Основание за плащане";
    string prExpirationDateName = "Дата на изтичане";
    string prServiceProviderName = "Заявител";
    string prPaymentRequestStatusIdName = "Статус на плащането";
    string prPaymentAmountName = "Сума";
    string prObligationStatusIdName = "Статус на задължението";

    DateTime defaultDate = new DateTime();
}

<table class="container main-content" style="font-size:8px;border: 1px solid #333;border-collapse: collapse;">
    <thead>
        <tr>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttOrderName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttAmountName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttFeeName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttCommissionName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttTransactionDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttCardName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttSettlementDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@ttStatusMessage</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BoricaTransaction != null)
        {
        <tr class="results-row">
            <td style="border: 1px solid #333;border-collapse: collapse;">@(Model.BoricaTransaction.Order)</td>
            <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DecimalToTwoDecimalPlacesFormat(Model.BoricaTransaction.Amount) + " лв")</td>
            <td style="border: 1px solid #333;border-collapse: collapse;">@(Model.BoricaTransaction.Fee.HasValue ? (EPayments.Common.Helpers.Formatter.DecimalToTwoDecimalPlacesFormat(Model.BoricaTransaction.Fee.Value) + " лв") : string.Empty)</td>
            <td style="border: 1px solid #333;border-collapse: collapse;">@(Model.BoricaTransaction.Commission.HasValue ? (EPayments.Common.Helpers.Formatter.DecimalToTwoDecimalPlacesFormat(Model.BoricaTransaction.Commission.Value) + " лв") : string.Empty)</td>
            <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSeconds(Model.BoricaTransaction.TransactionDate))</td>
            <td style="border: 1px solid #333;border-collapse: collapse;">@(Model.BoricaTransaction.Card)</td>
            <td style="border: 1px solid #333;border-collapse: collapse;">@(Model.BoricaTransaction.SettlementDate != defaultDate ? EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSeconds(Model.BoricaTransaction.SettlementDate) : string.Empty)</td>
            <td style="border: 1px solid #333;border-collapse: collapse;">@(Model.BoricaTransaction.StatusMessage)</td>
        </tr>
        }
    </tbody>
</table>

<table class="container main-content" style="font-size:8px;border: 1px solid #333;border-collapse: collapse;margin-top: 20px;">
    <thead>
        <tr>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentRequestIdentifierName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentReferenceNumberName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prCreateDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prExpirationDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prApplicantName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentReasonName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentAmountName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prServiceProviderName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentRequestStatusIdName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prObligationStatusIdName</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Payments != null && Model.Payments.Count > 0)
        {
            foreach (var payment in Model.Payments)
            {
                <tr class="results-row">
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.PaymentRequestIdentifier)</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.PaymentReferenceNumber)</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSeconds(payment.CreateDate))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSeconds(payment.ExpirationDate))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.ApplicantName)</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.PaymentReason)</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DecimalToTwoDecimalPlacesFormat(payment.PaymentAmount) + " лв.")</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.ServiceProviderName)</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.EnumToDescriptionString(payment.PaymentRequestStatusId))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.ObligationStatusId != null  ? EPayments.Common.Helpers.Formatter.EnumToDescriptionString(payment.ObligationStatusId) : "Няма стойност")</td>
                </tr>
            }
        }
        else
        {
            <tr class="results-table-empty-results text-align-center">
                <td colspan="10">Няма намерени резултати.</td>
            </tr>
        }
    </tbody>
</table>