@model EPayments.Web.Models.Account.EidVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
   <script>
       window.onload = function () {
           document.eidSubmitForm.submit();
       }
   </script>
</head>
<body>
    <div id="container" style="display:none">
        <form name="eidSubmitForm" action="@Model.StartAuthenticationURL">
            @*@Html.HiddenFor(m => m.OA)
            @Html.HiddenFor(m => m.Target)а пр
            @Html.HiddenFor(m => m.MoccaURL)
            @Html.HiddenFor(m => m.TemplateURL)*@
            <input type="hidden" id="OA" name="OA" value="@Model.OA" />
            <input type="hidden" id="Target" name="Target" value="@Model.Target" />
            <input type="hidden" id="MoccaURL" name="MoccaURL" value="@Model.MoccaURL" />
            <input type="hidden" id="TemplateURL" name="TemplateURL" value="@Model.TemplateURL" />
        </form>
    </div>
</body>
</html>
