@using EPayments.Model.Enums
@using EPayments.Common.Helpers

@model EPayments.Web.Models.Shared.OrderVM

@if (!Model.ShowDetailsForm)
{
    <table cellpadding="0" cellspacing="0" border="0" width="600" style="font-family:Verdana; font-size: 14px; border-collapse: collapse; margin-left: 0px; margin-right: auto;">
        <tbody>
            <tr>
                <td width="70">До</td>
                <td width="260" style="font-weight: bold; text-align: center; border-bottom: 1px solid #000000;"></td>
                <td width="40">&nbsp;</td>
                <td width="260" style="font-weight: bold; text-align: center; border-bottom: 1px solid #000000;"></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 8px; text-align: center;">банка</td>
                <td width="40">&nbsp;</td>
                <td style="font-size: 8px; text-align: center;">уникален регистрационен номер</td>
            </tr>
            <tr>
                <td>Клон</td>
                <td style="font-weight: bold; text-align: center; border-bottom: 1px solid #000000;"></td>
                <td width="40">&nbsp;</td>
                <td style="font-weight: bold; text-align: center; border-bottom: 1px solid #000000;"></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 8px; text-align: center;"></td>
                <td width="40">&nbsp;</td>
                <td style="font-size: 8px; text-align: center;">дата на представяне</td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td style="font-weight: bold; text-align: center; border-bottom: 1px solid #000000;"></td>
                <td width="40">&nbsp;</td>
                <td style="font-weight: bold; text-align: center; border-bottom: 1px solid #000000;"></td>
            </tr>
            <tr>
                <td></td>
                <td style="font-size: 8px; text-align: center;"></td>
                <td width="40">&nbsp;</td>
                <td style="font-size: 8px; text-align: center;">подпис на наредителя/вносителя</td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <table cellpadding="0" cellspacing="0" border="0" width="600" style="font-family:Verdana; font-size: 14px; border-collapse: collapse; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr>
                <td width="80" colspan="3">Номер на заявка: @Model.PaymentRequestIdentifier</td>
            </tr>
            <tr>
                <td width="80" colspan="3">Статус на заявка: @Model.CanceledRequestStatusDesc</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
        </tbody>
    </table>
}

<table cellpadding="0" cellspacing="0" border="1" width="600" style="font-family:Verdana; border: 1px solid #000000; border-collapse: collapse;">
    <tbody>
        <tr>
            <td colspan="8">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">
                                &nbsp;Платете на - <span color="#80a880">име на получателя</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<span style="letter-spacing:4px; font-size: 13px;">@Model.ServiceProviderName</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#d6f8d6" height="30">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp;IBAN на получателя</td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<span style="font-size:13px; letter-spacing: 5px;">@Model.IBAN</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="6" align="left" height="30">
                <!-- Problem N1: -->
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp;Вид плащане</td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<span style="font-size:13px; letter-spacing: 5px;">@Model.ObligationType | @Model.ObligationTypeCode</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td colspan="2" bgcolor="#d6f8d6" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp; BIC на банката на получателя</td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<span style="font-size:13px; letter-spacing: 5px;">@Model.BIC</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="6" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">
                                &nbsp;При банка - <font color="#80a880">име на банката на получателя</font>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<span style="font-size:13px; letter-spacing: 5px;">@Model.BankName</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="225" style="font-size:13px; width:225px;">
                @if (Model.PaymentRequestStatusId == PaymentRequestStatus.Paid ||
                Model.PaymentRequestStatusId == PaymentRequestStatus.Authorized ||
                Model.PaymentRequestStatusId == PaymentRequestStatus.Ordered)
                {
                    <b>@Model.PaymentRequestStatusId.GetDescription()</b>
                }
                else if (Model.PaymentRequestStatusId == PaymentRequestStatus.Canceled ||
                    Model.PaymentRequestStatusId == PaymentRequestStatus.Expired ||
                    Model.PaymentRequestStatusId == PaymentRequestStatus.Suspended)
                {
                    <b>@Model.PaymentRequestStatusId.GetDescription()</b>
                }
                else
                {
                    <b>
                        ПЛАТЕЖНО НАРЕЖДАНЕ<br>
                        (ВНОСНА БЕЛЕЖКА)<br>
                        ЗА ПЛАЩАНЕ КЪМ БЮДЖЕТА
                    </b>
                }
            </td>
            <td width="65" style="width:65px;" align="left" bgcolor="#d6f8d6">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp;Вид валута</td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<span style="font-size:13px; letter-spacing: 5px; display: inline-block; margin-top: 13px;">BGN</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="6" bgcolor="#d6f8d6">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp;Сума</td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;<span style="font-size:13px; letter-spacing: 5px; display: inline-block; margin-top: 13px;">@Model.PaymentAmount</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">
                                &nbsp;Основание за плащане/внасяне - <span color="#80a880">вид данък, такса, осигуровка, мито, лихва...</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;<span>@Model.PaymentReason</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp;Още пояснения</td>
                        </tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                @if (Model.ObligationTypeAlgorithmId == 1)
                                {
                                    if (Model.AdditionalInfoModel != null)
                                    {
                                        string clarifications = "";
                                        if (!String.IsNullOrEmpty(Model.AdditionalInfoModel.PropertyAddress))
                                        {
                                            clarifications += String.Format("propertyAddress: {0}", Model.AdditionalInfoModel.PropertyAddress);
                                        }
                                        if (!String.IsNullOrEmpty(Model.AdditionalInfoModel.RegisterNo))
                                        {
                                            if (!String.IsNullOrEmpty(clarifications))
                                            {
                                                clarifications += ", ";
                                            }
                                            clarifications += String.Format("registerNo: {0}", Model.AdditionalInfoModel.RegisterNo);
                                        }

                                        if (!String.IsNullOrEmpty(clarifications))
                                        {
                                            @Html.Raw(clarifications)
                                        }
                                    }
                                }
                                else if (Model.ObligationTypeAlgorithmId == 0)
                                {
                                    @Model.AdditionalInformation;
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="7" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px; width: 52px; border-right: 1px solid #000000;">
                                &nbsp;Вид док.<sup>*</sup>
                            </td>
                            <td style="font-size:9px;">
                                &nbsp;&nbsp;&nbsp;Номер на документа, по който се плаща
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:13px; text-align: center;  border-right: 1px solid #000000;">
                                <span>@Model.DocumentType</span>
                            </td>
                            <td style="font-size:13px; letter-spacing: 5px;">&nbsp;@Model.DocumentNumber</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td height="30" style="width: 101px;">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;">&nbsp;Дата на документа</td></tr>
                        <tr><td>&nbsp;<span>@Model.DocumentDate</span></td></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp;Период, за който се отнася плащането</td>
                        </tr>
                        <tr>
                            <td align="left">
                                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:9px; width: 310px;">
                                                &nbsp;От дата:
                                                &nbsp; <span style="font-size:13px; letter-spacing: 5px;">@Model.PaymentPeriodStartDate</span>
                                            </td>
                                            <td style="font-size:9px;">
                                                &nbsp;До дата:
                                                &nbsp; <span style="font-size:13px; letter-spacing: 5px;">@Model.PaymentPeriodEndDate</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">
                                &nbsp;Задължено лице - <font color="#80a880">наименование на юридическото лице или трите имена на физическото лице</font>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;<span>@Model.ApplicantName</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;">&nbsp;ЕИК/Код по БУЛСТАТ на задълженото лице</td>
                        </tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;<span>@Model.ApplicantBulstat</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="4" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;">&nbsp;ЕГН/ЛНЧ на задълженото лице</td></tr>
                        <tr>
                            <td>
                                &nbsp;<span>@Model.ApplicantEgnLnch</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8" height="30">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="font-size:9px;" align="left">
                                &nbsp;Наредител - <font color="#80a880">наименование на юридическото лице или трите имена на физическото лице</font>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;<span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="left" bgcolor="#d6f8d6">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;" align="left">&nbsp;IBAN на наредителя</td></tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;<span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="4" align="left" bgcolor="#d6f8d6">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;" align="left">&nbsp;BIC нa банката на наредителя</td></tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;<span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;">&nbsp;Платежна система</td></tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td title="Такси">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;">&nbsp;Такси<font color="#0097e5">**</font></td></tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
            <td colspan="6" title="Вид плащане">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;">&nbsp;Вид плащане<font color="#0097e5">***</font></td></tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;">&nbsp;Банков служител</td></tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="6">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr><td style="font-size:9px;">&nbsp;Касиер</td></tr>
                        <tr>
                            <td style="font-size:13px; letter-spacing: 5px;">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </tbody>
</table>
