@using EPayments.Data.ViewObjects.Web

@model List<ProcessedRequestVO>

@{
    string prPaymentRequestIdentifierName = "Номер";
    string prPaymentReferenceNumberName = "Референтен номер на задължението";
    string prCreateDateName = "Дата и час";
    string prApplicantName = "Задължение на";
    string apApplicantIdentifer = "ЕГН / Булстат";
    string prPaymentReasonName = "Основание за плащане";
    string prPaymentAmountName = "Сума";
    string prPaymentExpirationDate = "Дата на изтичане на задължението";
    string prPaymentRequestStatusIdName = "Статус на плащането";
    string prObligationStatusIdName = "Статус на задължението";
    string prAdditionalInformation = "Допълнителна информация";
}

<table class="container main-content" style="font-size:8px;border: 1px solid #333;border-collapse: collapse;">
    <thead>
        <tr>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentRequestIdentifierName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentReferenceNumberName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prCreateDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prApplicantName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@apApplicantIdentifer</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentReasonName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentAmountName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentExpirationDate</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentRequestStatusIdName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prObligationStatusIdName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prAdditionalInformation</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var payment in Model)
            {
                <tr class="results-row">
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.PaymentRequestIdentifier</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.PaymentReferenceNumber</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSecondsNotLocalTime(payment.TransactionDate))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.ApplicantName</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.ApplicantUin)</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.PaymentReason</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DecimalToTwoDecimalPlacesFormat(payment.PaymentAmountRequest) + " лв.")</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSecondsNotLocalTime(payment.ExpirationDate))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.EnumToDescriptionString(payment.PaymentRequestStatusId))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(payment.ObligationStatusId != null  ? EPayments.Common.Helpers.Formatter.EnumToDescriptionString(payment.ObligationStatusId) : "Няма стойност")</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.AdditionalInformation</td>
                </tr>
            }
        }
        else
        {
            <tr class="results-table-empty-results text-align-center">
                <td colspan="10">Няма намерени резултати.</td>
            </tr>
        }
    </tbody>
</table>
