@using EPayments.Web.Models.Payments

@model ListVM

@{
    string prPaymentRequestIdentifierName = "Номер";
    string prCreateDateName = "Дата и час";
    string prExpirationDateName = "Валидно до";
    string prServiceProvider = "Получател";
    string prPaymentReasonName = "Основание за плащане";
    string prObligationType = "Основание за плащане";
    string prPaymentAmountName = "Сума";
    string prStatusName = "Статус";
}
<h3>Задължения за плащане</h3>
<table class="container main-content" style="font-size:8px;border: 1px solid #333;border-collapse: collapse;width: 100%;">
    <thead>
        <tr>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentRequestIdentifierName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prCreateDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prExpirationDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prServiceProvider</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentReasonName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prObligationType</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentAmountName</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.PendingPayments.Count > 0)
        {
            foreach (var payment in Model.PendingPayments)
            {
                <tr class="results-row">
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.PaymentRequestIdentifier</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSeconds(payment.CreateDate))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSeconds(payment.ExpirationDate))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.ServiceProviderName</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.PaymentReason</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.ObligationType</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DecimalToTwoDecimalPlacesFormat(payment.PaymentAmount) + " лв.")</td>
                </tr>
            }
        }
        else
        {
            <tr class="results-table-empty-results text-align-center">
                <td colspan="6">Няма намерени резултати.</td>
            </tr>
        }
    </tbody>
</table>

<h3>Последни движения</h3>
<table class="container main-content" style="font-size:8px;border: 1px solid #333;border-collapse: collapse;width: 100%;">
    <thead>
        <tr>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentRequestIdentifierName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prCreateDateName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prServiceProvider</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentReasonName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prObligationType</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prPaymentAmountName</th>
            <th class="results-cell" style="border: 1px solid #333;border-collapse: collapse;">@prStatusName</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.ProcessedPayments.Count > 0)
        {
            foreach (var payment in Model.ProcessedPayments)
            {
                <tr class="results-row">
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.PaymentRequestIdentifier</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DateTimeToBgFormatWithoutSeconds(payment.TransactionDate))</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.ServiceProviderName</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.PaymentReason</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@payment.ObligationType</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.DecimalToTwoDecimalPlacesFormat(payment.PaymentAmountRequest) + " лв.")</td>
                    <td style="border: 1px solid #333;border-collapse: collapse;">@(EPayments.Common.Helpers.Formatter.EnumToDescriptionString(payment.PaymentRequestStatusId))</td>
                </tr>
            }
        }
        else
        {
            <tr class="results-table-empty-results text-align-center">
                <td colspan="6">Няма намерени резултати.</td>
            </tr>
        }
    </tbody>
</table>