@{
    ViewBag.Title = "Помощ, въпроси и отговори";
}

<div class="container main-content">

    <h1>Общи условия и образци на заявления за включване към Средата</h1>

    <h2 style="padding-bottom: 10px;">Общи условия за включване към Средата за електронни плащания</h2>
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/rulesElectronicServicePdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle">
                Общи условия за присъединяване на административни органи и на доставчици на платежни услуги към Единната входна точка за електронни
                плащания в централната и местната администрация и използване на функционалността „Централен ВПОС терминал“, предоставяна от Министерство на електронното управление.pdf
            </span>
        </span>
        <span class="size">277 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>
    @*<a class="link-to-element" target="_blank" href="~/Home/DownloadFile/rulesPaymentServicePdf" title="">
            <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
            <span class="content">
                <span class="middle">
                    Правила за включване на доставчици на платежни услуги.pdf
                </span>
            </span>
            <span class="size">216 KB</span>
            <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
        </a>*@


    <h2 style="margin-top: 50px;">Образци на заявления за включване към Средата за електронни плащания</h2>

    <p style="padding-top: 30px; margin-bottom: 10px;">Образец на заявление, което се подава при първоначално включване на <b>доставчик на електронни административни услуги</b>.</p>
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/appElectronicServicePdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle">
                Заявление за присъединяване на административен орган към Единната входна точка за електронни плащания в централната и местната администрация с цел предоставяне на електронната
                административна услуга „Извличане на справка за дължими данъци и други публичноправни задължения и плащането им по електронен път“.pdf
            </span>
        </span>
        <span class="size">2226 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/appelectronicserviceCVPOSpdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle">
                Заявление за присъединяване /промяна на обстоятелства/ на административен орган към Единната входна точка за електронни плащания в централната и местната администрация,
                чрез виртуален ПОС терминал на доставчик на платежни услуги и/или чрез използване на функционалността „Централен виртуален ПОС терминал“, предоставяна от Министерство на електронното управление (МЕУ).pdf
            </span>
        </span>
        <span class="size">2296 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>
    @*<a class="link-to-element" target="_blank" href="~/Home/DownloadFile/appElectronicServiceDoc" title="">
            <img src="@Links.Content.images.files.doc_png" alt="" class="type">
            <span class="content">
                <span class="middle">
                    Заявление за включване на доставчик на електронни административни услуги.doc
                </span>
            </span>
            <span class="size">50 KB</span>
            <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
        </a>*@

    <p style="padding-top: 30px;">Образец на заявление, което се подава при първоначално включване на <b>доставчик на платежни услуги</b>.</p>
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/apppaymentserviceVPOSpdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle">
                Заявление за присъединяване на доставчик на платежни услуги чрез използване на Виртуален ПОС терминал към Единната входна точка за електронни плащания в централната и местната администрация (Единната входна точка).pdf
            </span>
        </span>
        <span class="size">1835 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>
    @*<p style="padding-top: 30px;">Образец на заявление, което се подава при първоначално включване на <b>доставчик на платежни услуги</b>.</p>*@
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/apppaymentserviceCVPOSpdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle">
                Заявление за присъединяване на доставчик на платежни услуги към Единната входна точка за електронни плащания в централната и местната администрация (Единната входна точка)
                чрез използване на функционалността „Централен виртуален ПОС терминал“, предоставяна от Министерство на електронното управление (МЕУ).pdf
            </span>
        </span>
        <span class="size">1836 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>
    @*<a class="link-to-element" target="_blank" href="~/Home/DownloadFile/appPaymentServiceDoc" title="">
            <img src="@Links.Content.images.files.doc_png" alt="" class="type">
            <span class="content">
                <span class="middle">
                    Заявление за включване на доставчик на платежни услуги към Средата.doc
                </span>
            </span>
            <span class="size">36 KB</span>
            <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
        </a>*@

    <p style="padding-top: 30px;">Образец на заявление, което се подава при прекратяване присъединяването на <b>доставчик на електронни административни услуги</b>.</p>
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/appelectronicserviceterminationpdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle">
                Заявление за прекратяване присъединяването на административен орган към Единната входна точка за електронни плащания в централната и местната администрация (Единната входна точка).pdf
            </span>
        </span>
        <span class="size">1825 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>

    <p style="padding-top: 30px;">Образец на заявление, което се подава при прекратяване присъединяването на <b>доставчик на платежни услуги</b>.</p>
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/apppaymentserviceterminationpdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle">
                Заявление за прекратяване присъединяването на доставчик на платежни услуги към Единната входна точка за електронни плащания в централната и местната администрация (Единната входна точка).pdf
            </span>
        </span>
        <span class="size">1826 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>

    <h2 style="padding-bottom: 10px;">Процедура по оспорване на плащания</h2>
    <p style="padding-top: 30px;">Процедура по оспорване на плащане.</p>
    <a class="link-to-element" target="_blank" href="~/Home/DownloadFile/procedureborikapdf" title="">
        <img src="@Links.Content.images.files.pdf_png" alt="" class="type">
        <span class="content">
            <span class="middle"> ПРОЦЕДУРА ПО „ОСПОРВАНЕ НА ПЛАЩАНЕ“, ИЗВЪРШЕНО ЧРЕЗ ВИРТУАЛНОТО ТЕРМИНАЛНО ПОС УСТРОЙСТВО ПРЕДОСТАВЕНО
                НА МИНИСТЕРСТВО НА ЕЛЕКТРОННОТО УПРАВЛЕНИЕ, ОБСЛУЖВАНО ОТ „БОРИКА“ АД.pdf
            </span>
        </span>
        <span class="size">277 KB</span>
        <img src="@Links.Content.images.icons.ico_download_png" alt="" class="action">
    </a>
</div>